body {
  max-width: 365px;
  min-width: 365px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  width: auto;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 40px;
  border-bottom: 3px solid #18bc9c;
  border-right: 1px solid #747474;
  background-color: #d9d9d9;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#wishlist:checked ~ #wishlist_content,
#search:checked ~ #search_content,
#setting:checked ~ #setting_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #18bc9c;
  color: #fff;
}